@page
@model BugTrackerApp.Pages.AddBugModel
@{ViewData["Title"] = "Add Bug";

}

<!--Desktop UI-->
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card px-5 py-5 mx-5 my-5">
            <h1 class="mb-5 text-primary">Add Bug</h1>
            <div class="row my-5">
                <div class="col">
                    <div class="form-outline">
                        <h4 class="text-decoration-underline">Project Assignment</h4>
                        <select class="form-control shadow w-75" asp-for="SelectedProjectId" asp-items="@(Model._entityDataAccess.GetProjectTitles(Model.Projects))">
                            <option value="0" class="text-center">-- Select Project --</option>
                        </select>
                        <span asp-validation-for="Project.ProjectTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <h4 class="text-decoration-underline">Assignment</h4>
                        <select class="form-control shadow w-75" asp-for="SelectedEmployee" asp-items="@(Model._peopleDataAccess.GetEmployeeNames(Model.Employees))">
                            <option value="0">-- Assign an Employee --</option>
                        </select>
                        <span asp-validation-for="Bug.Assignment" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <div class="form-outline">
                        <h4 class="text-decoration-underline">Date Submitted</h4>
                        <input asp-for="Bug.Date" type="date" class="shadow form-control w-75" asp-format="{0:MM-dd-yyyy}" name="Date" />
                        <span asp-validation-for="Bug.Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <h4 class="text-decoration-underline">Priority</h4>
                        <select asp-for="Bug.Priority" class="form-control shadow w-75" name="Priority">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                        <span asp-validation-for="Bug.Priority" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Description</h4>
                    <textarea placeholder="Enter a description." rows="4" asp-for="Bug.Description" type="text" class="form-control" name="Description" data-val;="True" data-val-required="A description is required."></textarea>
                    <span asp-validation-for="Bug.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-5">
                <a class="btn btn-secondary shadow" asp-page="/Bugs/Index">Back</a>
                <input type="submit" value="Add Bug" class="btn btn-primary shadow" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

