@page
@model BugTrackerApp.Pages.EditBugModel
@{
    ViewData["Title"] = "Edit Bug";
}

<!--Mobile UI-->
<div class="container d-sm-none">
    <div class="my-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="col-md-11 mx-auto">
                <h1 class="mt-3 text-center text-decoration-underline">Bug Details</h1>
                <hr />
                <form method="post">
                    <div class="card px-3 py-3 mx-3 my-4 shadow">
                        <div class="row mt-5">
                            <div class="col text-center mx-auto">
                                <h4 class="text-decoration-underline text-center">Priority Level</h4>
                                <select asp-for="Bug.Priority" class="form-control shadow w-75 mx-auto">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                                <span asp-validation-for="Bug.Priority" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col text-center mx-auto">
                                <h4 class="text-decoration-underline text-center">Assignment</h4>
                                <select class="form-control shadow w-75 mx-auto" asp-for="Bug.Assignment" asp-items="@(Model._peopleDataAccess.GetEmployeeNames(Model.Employees))">
                                </select>
                                <span asp-validation-for="Bug.Assignment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-5">
                            <h4 class="text-decoration-underline text-center">Description</h4>
                            <textarea placeholder="Enter a description." rows="4" asp-for="Bug.Description" type="text" class="form-control shadow" data-val="true" data-val-required="A description is required."></textarea>
                        </div>
                        <hr />
                        <div class="text-center">
                            <a class="btn btn-dark shadow" asp-page="ViewBug" asp-route-id="@Model.Bug.BugId">Back to Details</a>
                            <input type="submit" value="Save" class="btn btn-primary shadow" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Desktop UI-->
<div class="container d-none d-sm-none d-md-block">
    <div class="my-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="col-md-11 mx-auto">
                <h1 class="mt-3 text-center text-decoration-underline">Edit Bug</h1>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card px-5 py-5 mx-5 my-5 shadow">
                        <div class="row my-5">
                            <div class="col">
                                <div class="form-outline">
                                    <h4 class="text-decoration-underline">Priority</h4>
                                    <select asp-for="Bug.Priority" class="form-control shadow w-75">
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                    <span asp-validation-for="Bug.Priority" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <h4 class="text-decoration-underline">Assignment</h4>
                                    <select class="form-control shadow w-75" asp-for="Bug.Assignment" asp-items="@(Model._peopleDataAccess.GetEmployeeNames(Model.Employees))">
                                    </select>
                                    <span asp-validation-for="Bug.Assignment" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-5">
                        </div>
                        <div class="row my-5">
                            <div class="form-outline">
                                <h4 class="text-decoration-underline">Description</h4>
                                <textarea placeholder="Enter a description." rows="4" asp-for="Bug.Description" type="text" class="form-control shadow" data-val="true" data-val-required="A description is required."></textarea>
                                <span asp-validation-for="Bug.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-5">
                            <a class="btn btn-secondary shadow" asp-page="/Bugs/Index">Back To Bugs</a>
                            <a class="btn btn-dark shadow" asp-page="ViewBug" asp-route-id="@Model.Bug.BugId">Back to Details</a>
                            <input type="submit" value="Save" class="btn btn-primary shadow" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


