@page
@model BugTrackerApp.Pages.Projects.EditProjectModel
@{
}

<!--Mobile UI-->
<div class="container d-sm-none">
    <div class="my-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="col-md-11 mx-auto">
                <h1 class="mt-3 text-center text-decoration-underline">Edit Project</h1>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card px-3 py-3 mx-3 my-4 shadow">
                        <div class="row mt-5">
                            <div class="col text-center mx-auto">
                                <h4 class="text-decoration-underline text-center">Project Title</h4>
                                <textarea placeholder="Enter a project title." rows="2" asp-for="Project.ProjectTitle" type="text" class="form-control mx-auto text-center w-75" data-val="true" data-val-required="A description is required."></textarea>
                                <span asp-validation-for="Project.ProjectTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <h4 class="text-decoration-underline text-center">Project Manager Assignment</h4>
                            <select class="form-control shadow w-75 mx-auto" asp-for="Project.ProjectManagerId" asp-items="@(Model._peopleDataAccess.GetProjectManagerNames(Model.ProjectManagers))" data-val="true" data-val-required="A project manager must be assigned.">

                            </select>
                            <span asp-validation-for="Project.ProjectManagerId" class="text-danger"></span>
                        </div>
                        <div class="row mt-5">
                            <h4 class="text-decoration-underline text-center">Priority</h4>
                            <select asp-for="Project.Priority" class="form-control shadow w-75 mx-auto text-center">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                            <span asp-validation-for="Project.Priority" class="text-danger"></span>
                        </div>
                        <div class="row my-5">
                            <h4 class="text-decoration-underline text-center">Description</h4>
                            <textarea placeholder="Enter a description." rows="4" asp-for="Project.Description" type="text" class="form-control mx-auto text-center w-75" data-val="true" data-val-required="A description is required."></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="text-center">
                            <a class="btn btn-secondary shadow" asp-page="/Projects/ProjectIndex">Back</a>
                            <input type="submit" value="Save" class="btn btn-primary shadow" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Desktop UI-->
<div class="container d-none d-sm-none d-md-block">
    <div class="my-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="col-md-11 mx-auto">
                <h1 class="mt-3 text-center text-decoration-underline">Edit Project</h1>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card px-5 py-5 mx-5 my-5 shadow">
                        <div class="row my-5">
                            <div class="col">
                                <div class="form-outline">
                                    <h4 class="text-decoration-underline">Project Title</h4>
                                    <textarea placeholder="Enter a project title." rows="2" asp-for="Project.ProjectTitle" type="text" class="form-control w-75 shadow" data-val="true" data-val-required="A description is required."></textarea>
                                    <span asp-validation-for="Project.ProjectTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <h4 class="text-decoration-underline">Project Manager Assignment</h4>
                                    <select class="form-control shadow w-75" asp-for="Project.ProjectManagerId" asp-items="@(Model._peopleDataAccess.GetProjectManagerNames(Model.ProjectManagers))" data-val="true" data-val-required="A project manager must be assigned.">
                                    </select>
                                    <span asp-validation-for="Project.ProjectManagerId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col">
                                <div class="form-outline">
                                    <h4 class="text-decoration-underline">Priority</h4>
                                    <select asp-for="Project.Priority" class="form-control shadow w-25">
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                    <span asp-validation-for="Project.Priority" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="form-outline">
                                <h4 class="text-decoration-underline">Description</h4>
                                <textarea placeholder="Enter a description." rows="4" asp-for="Project.Description" class="form-control shadow" data-val="true" data-val-required="A description is required."></textarea>
                                <span asp-validation-for="Project.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-5">
                            <a class="btn btn-dark shadow" asp-page="ViewProject" asp-route-id="@Model.Project.ProjectId">Back</a>
                            <input type="submit" value="Save" class="btn btn-primary shadow" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}