html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.section {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
}

#container_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 75%;
}

.row {
    border-style: ridge;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(224, 229, 236);
    margin-bottom: 10px;
    transition-duration: .75s;
}

#row_hover:hover {
    background-color: white;
}

h4 {
    text-decoration-line: underline;
}

.col {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#low_priority {
    display: inline-flex;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(13, 192, 13)
}

#medium_priority {
    display: inline-flex;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(244, 212, 6);
}

#high_priority {
    display: inline-flex;
    border-radius: 5%;
    padding: 5px;
    background-color: #ED4337;
}

#assignment {
    display: inline-flex;
    border-radius: 4%;
    padding: 5px;
    background-color: lightsteelblue;
}

#text_underline {
    text-decoration-line: underline;
}

#center_text {
    text-align: center;
}